<% layout('layouts/boilerplate')%>


  <div class="container">
    <h1>Edit post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST" class="postForm">
      <div class="form-item">
        <label for="title">Title</label>
        <input type="text" name="post[title]" id="title" value="<%= post.title %>" placeholder="Enter post title">
      </div>
      <div class="form-item">
        <label for="textBody">Text Body</label>
        <textarea name="post[textBody]" id="textBody" cols="30" rows="10" placeholder="Enter post body"><%= post.textBody %>
        </textarea>
      </div>
      <button>Submit</button>
    </form>
    <a href="/posts" class="btn-show">All posts</a>
  </div>